$breakpoint-vertical-width-constrained-below: 5/14;

$breakpoint-vertical-height-constrained-below: 12/14;
$breakpoint-horizontal-width-constrained-below: 7/5;
$breakpoint-horizontal-height-constrained-above: 7/5;
