$color-highlight-main: #DA3232;

$color-background: #FFE4B8;
$color-background-light: #FFF1DB;
$color-background-dark: #FDDCB0;

$color-background-darker: #DA3232;

$color-background-row-zebra: #FACDA5;

$color-text-medium: #FFD083;
$color-text-light: #FFF1DB;
$color-text-lighter: #FFF1DB;
$color-text-dark: #444;

$color-small-button: #FDCA9E;
