/* top-level */

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  height: 100vh;
}

.contents {
  width: 100%;
  height: calc(100% - 200px); /*this makes the visible part of the ballotBox 200px */
  position: relative;
}

body {
  background: #FFE4B8 !important;
}

/* header */

.header {
  position: relative;
  z-index:5000;
  height: 64px;
  display: flex;
  align-items: center;
  text-shadow: 0px .5vw #000000;
  letter-spacing: 1px;
  background-color: #DA3232;
}


.header-text {
  color: #FFD083;
  font-size: 6vw;
  margin-left: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

/* ballotViewer */

.loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.ballotViewer {
  height: 90%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-grow: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFE4B8;
}

.ballot.incomingballot {
  display: flex;
}

.ballot {
  height: 100%;
  width: 100%;
  background-image: url("./Burst_Transparent.png");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 52% 34%;
   background-size: 45vw 45vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ballot.outgoingballot {
  width: 100%;
  height: 0;
}

.incomingleft {
  order: 1;
}

.incomingright {
  order: 2;
}

.animal {
  background-color: #FFF1DB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
  font-family: Sans-Serif;
  flex-direction: column;
}

.hiddenballot {
  display: none;
}


.animalNameBox {
  order: 2;
  flex-grow: 1;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animalName {
  font-family: 'Cabin';
  font-size: 3vw;
}

.hidden {
  color: red;
  width: 0px;
  height: 0px;
  display: none;
}


.photo {
  flex-grow: 4;
  order: 1;
  height: 80%;
}

.outgoing {
  color: magenta;
}


.outerCardWrapper {
  flex-grow: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerCardWrapper.LEFT {
  order: 1;
}

.outerCardWrapper.RIGHT {
  order: 2;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* ballotBox */


.ballotBox {
  height: 100vh;
  background-color: #FDDCB0;
  position: relative;
}

.rankingsPanel {
    background-color: orange;
}

.resultsPanel {
  background-color: tan;
  height:200px;
}


@keyframes showRankings {
  from {top: 0px;}
  to {top: calc(-100vh);}
}

@keyframes showBallots {
  from {top: calc(-100vh);}
  to {top: 0px;}
}

.show_rankings {
  animation-name: showRankings;
  animation-duration: .55s;
  animation-fill-mode: forwards;
}

.show_ballots {
  animation-name: showBallots;
  animation-duration: .55s;
  animation-fill-mode: forwards;
}





/* From design */



@media (max-aspect-ratio: 5/14) {

  .ballot {
    justify-content: space-between;
    flex-direction: column;
  }

  .animal {
    width: 90vw;
    height: 90vw;
  }

  .cardWrapper.LEFT {
    justify-content: center;
  }

  .cardWrapper.RIGHT {
    justify-content: center;
  }
}

/* aspect-ratio-specific */

@media (min-aspect-ratio: 5/14) and (max-aspect-ratio: 12/14) {
  .ballot {
    justify-content: space-between;
    flex-direction: column;
  }

  .animal {
    justify-content: center;
    flex-direction: column;
    width: 30vh;
    height: 30vh;
  }

  .cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
  }

  .card {
    background: gold;
    width: 43vw;
    height: 43vw;
    padding: 0;
    order: 1;
  }

  .animal {
    color: brown;
  }

  .vs {
    flex-grow: 0;
  }
}

@media (min-aspect-ratio: 12/14) and (max-aspect-ratio: 7/5) {
  .ballot.incomingballot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardWrapper.LEFT {
    justify-content: flex-start;
  }

  .cardWrapper.RIGHT {
    justify-content: flex-end;
  }

  .animal {
    width: 35vw;
    height: 35vw;
  }
}




@media (min-aspect-ratio: 7/5) {

  .animal {
    width: 55vh;
    height: 55vh;
  }

  .cardWrapper.LEFT {
    justify-content: flex-start;
  }

  .cardWrapper.RIGHT {
    justify-content: flex-end;
  }

}

/* Clear */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
