.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.animal {
  width: 48vw;
  height: 48vw;
  background-color: #FFF1DB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
  font-family: Sans-Serif;
  position: relative;
}

.ballotBox {
  flex-basis: 200px;
  flex-grow: 0;
  order: 3;
    background-color: #FDDCB0;
    z-index: 2;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  text-shadow: 0px .5vw #000000;
  letter-spacing: 1px;
  background-color: #DA3232;
  order: 1;
  flex-grow: 0;
  z-index: 3;
}


.ballotViewer {

  flex-grow: 1;
  order: 2;
}

.ballot.incomingballot{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ballot {
  top:0;
  left:0;
  position: relative;
}

.ballot.outgoingballot{
  width: 100%;
  height: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.incomingleft {
  order: 1;
}

.incomingright {
  order: 2;
}

/* display: flex;
flex-grow: 1;
flex-direction: row;
justify-content: space-around; */
.hiddenballot {
  display: none;
}

.burst {
  opacity: 0.2;
  width: 50vw;
  top: 20vh;
  left: 27vw;
  position: absolute;
}

.header-text {
  color: #FFD083;
  font-size: 6vw;
  margin-left: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.animalName {
  font-family: 'Cabin';
  font-size: 4vw;
}

.hidden {
  color: red;
  width:0px;
  height: 0px;
  display: none;

}

.incoming {
  color: blue;
}

.outgoing {
  color: magenta;
  z-index: -1;
}

body {
  background: #FFE4B8 !important ;
}

.vs {
  transform: translate(48vw, 16vw)
}


/* From design */



  .card {
    background: gold;
    width: 43vw;
    height: 43vw;
    display: flex;
    flex-direction: column;
  }

  .photo {
    flex-grow: 4;
    order: 1;
    height: 80%;
  }

  .caption {
    flex-grow: 1;
    order: 2;
    height: 20%;
  }

  .animal_x {
    background-color: pink;
    flex-grow: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .vs {
    order: 2;
    background-color: blue;
    flex-grow: 1;
  }


.one {
  order: 1;
}

.two {
  order: 3;
}

.outerCardWrapper {
  background-color: pink;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerCardWrapper.LEFT {
  order:1;
}
.outerCardWrapper.RIGHT {
  order:2;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}

.cardWrapper.LEFT {
  justify-content: flex-start;
}

.cardWrapper.RIGHT {
  justify-content: flex-end;
}


@media (max-aspect-ratio: 5/14) {
  .container {
    justify-content: space-around;
    flex-direction: column;
  }

  .card {
    background: gold;
    width: 100vw;
    height: 100vw;
    padding: 0;
  }

  .animal {
    flex-grow: 0;
    color: brown;
  }

  .vs {
    flex-grow: 0;
  }
}


@media (min-aspect-ratio: 5/14) and (max-aspect-ratio: 12/14) {

  .container {
    justify-content: space-around;
    flex-direction: column;
  }

.animal {
  justify-content: center;
  flex-direction: column;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}





.card {
  background: gold;
  width: 43vw;
  height: 43vw;
  padding: 0;
  order: 1;
}

.animal {
  flex-grow: 1;
  color: brown;
}

.vs {
  flex-grow: 0;
}
}

@media (min-aspect-ratio: 7/5) {

  .container {
    justify-content: space-around;
  }

  .card {
    background: gold;
    width: 70vh;
    height: 70vh;
    padding: 0;
  }

  .animal {
    flex-grow: 0;
    color: brown;
  }

  .vs {
    flex-grow: 0;
  }
}

/* Clear */



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
