/* top-level */
@import "_breakpoints.scss";
@import "_colors.scss";
$height-results-panel: 64px;
$height-header: 80px;
$height-rankings-header: 80px;
$height-button: 20px;
$height-spacer: 0px;
$width-button: 135px;

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  height: 100vh;
}

body {
  background: $color-background;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: $width-button;
  outline: none;
  font-weight: bold;
}

button.viewRankings {
  background-color: $color-background-darker;
  color: $color-text-lighter;
  position: relative;
  top: -35px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: calc(50vw - (#{$width-button} / 2));
}

button.viewBallots {
  background-color: $color-background-dark;
  color: black;
  position: absolute;
  top: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: calc(50vw + (#{$width-button} + 70px) - (#{$width-button} / 2));
}

button.viewBallots.jump {
  background-color: $color-background-darker; /* While jumping is occurring, hide button */
  color: $color-background-darker;
}

/* header */
.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5000;
  height: $height-header;
  display: flex;
  align-items: center;
  text-shadow: 0 0.8vmin rgba(0,0,0,0.2);
  letter-spacing: 1px;
  background-color: $color-highlight-main;
  box-shadow: 0 7px 4px rgba(0,0,0,0.2);
}

.header-text {
  color: #FFD083;
  font-size: 6vw;
  margin-left: 5vw;
  font-family: 'Alfa Slab One', cursive;
}
/* ballotViewer */
.theCard {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardHover {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
}

.loadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  opacity: 0.5;
  animation: growPartial 0.4s ease-out infinite;
  animation-direction: alternate;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ballotViewer {
  height: calc(100vh - #{$height-header} - #{$height-results-panel});
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  order: 2;
  display: grid;
  background-color: $color-background;
  position: relative;
  top: 0;
  left: 0;
}

.ballot {
  display: flex;
  justify-content: space-between;
  z-index: 0;
  /* keeps it below the ballotBox */
  grid-column: 1;
  /*all ballots appear in same column and row */
  grid-row: 1;
}

.ballotBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 55vw 55vw;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url("./Burst_Transparent.png");
  top: 0;
  left: 0;
}

.ballotBackground.incoming {
  transform: scale(0);
  animation-name: grow;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}

.cardAndHover {
  width: 100%;
  height: 100%;
  display: grid;
}
@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.0);
  }
}
@keyframes growPartial {
  from {
    transform: scale(.5);
  }

  to {
    transform: scale(1.0);
  }
}

.ballot.outgoingballot {
  animation-name: moveDown;
  animation-duration: 0.55s;
  animation-delay: 0s;
  /* TODO: File bug, background moves early when delay is more than 0 */
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moveDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(100vh));
  }
}

.incomingleft {
  order: 1;
  animation-name: comeInFromLeft;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
}

.incomingright {
  order: 2;
  animation-name: comeInFromRight;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
}
@keyframes comeInFromLeft {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0vw);
  }
}
@keyframes comeInFromRight {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0vw);
  }
}

.animal {
  background-color: $color-background-light;
}

.hiddenballot {
  display: none;
}

.animalNameBox {
  order: 2;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animalName {
  font-family: 'Cabin';
  font-size: 3vmax;
}

.hidden {
  width: 0;
  height: 0;
  display: none;
}

.photo {
  order: 1;
  height: 80%;
  width: 100%;
}

.cardHover {
  background-image: url("./check.png");
  background-size: 25% 25%;
  background-position: top 5% left 5%;
  background-repeat: no-repeat;
  opacity: 0;
}

.cardHover:hover {
  opacity: 0.5;
}

.cardHover.votedFor {
  opacity: 1.0;
}

.outerCardWrapper {
  flex-grow: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerCardWrapper.LEFT {
  order: 1;
}

.outerCardWrapper.RIGHT {
  order: 2;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
}
/* ballotBox */

.rankingsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rankingsHeaderTitle {
  font-family: 'Cabin';
  font-size: 32px;
  color: $color-text-light;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.descriptionBlock {
  height: 100%;
  margin-left: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.imageBlock {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.rank {
  font-size: 32px;
  margin-right: 12px;
}



.animalListing img {
  height: 75px;
}

.animalListing {
  font-family: 'Cabin';
  font-size: 16pt;
  color: $color-text-light;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  display: flex;
}

.ballotBox {
  height: calc(100vh + #{$height-results-panel});
  background-color: $color-background-darker;
  position: relative;
  top: 0;
  left: 0;
}

.resultsPanel {
  background-color: $color-background-dark;
}

.ballotBox.jump {
  animation-name: jump;
  animation-duration: 0.65s;
  animation-timing-function: linear;
  animation-delay: 0.225s;
}
@keyframes jump {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.animalListing {
  height: 100px;
}

// .animalListing:nth-child(odd) {
//   background-color: $color-background-darker;
// }

.resultsPanel {
  height: $height-results-panel;
  z-index: 50;
}

.rankingsPanel {
  overflow: auto;
  height: calc(100vh - #{$height-header});
  padding-left: 5vw;
  padding-right: 5vw;
}

.rankingsHeader {
  height: $height-rankings-header;
}

.rankingsContent {
  height: calc(100vh - #{$height-header} - #{$height-rankings-header});
}

.spacer {
  height: $height-spacer;
}

@keyframes showRankings {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100vh + #{$height-header} - #{$height-spacer}));
  }
}
@keyframes showBallots {
  from {
    transform: translateY(calc(-100vh + #{$height-header} - #{$height-spacer}));
  }

  to {
    transform: translateY(0);
  }
}

.contents.show_rankings {
  animation-name: showRankings;
  animation-duration: 0.55s;
  animation-fill-mode: forwards;
}

.contents.show_ballots {
  animation-name: showBallots;
  animation-duration: 0.55s;
  animation-fill-mode: forwards;
}
/* aspect-ratio-specific */
@media (max-aspect-ratio: 5/14) {
  .ballot {
    flex-direction: column;
  }

  .animal {
    width: 90vw;
    height: 90vw;
  }

  .cardWrapper {
    justify-content: center;
  }
}
@media (min-aspect-ratio: 5/14) and (max-aspect-ratio: 12/14) {
  .ballot {
    flex-direction: column;
  }

  .animal {
    flex-direction: column;
    width: 30vh;
    height: 30vh;
  }

  .cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    background: gold;
    width: 43vw;
    height: 43vw;
    padding: 0;
    order: 1;
  }

  .vs {
    flex-grow: 0;
  }
}
@media (min-aspect-ratio: 12/14) and (max-aspect-ratio: 7/5) {
  .ballot.incomingballot {
    flex-direction: row;
  }

  .cardWrapper.LEFT {
    justify-content: flex-start;
  }

  .cardWrapper.RIGHT {
    justify-content: flex-end;
  }

  .animal {
    width: 35vw;
    height: 35vw;
  }
}
@media (min-aspect-ratio: 7/5) {
  .animal {
    width: 55vh;
    height: 55vh;
  }

  .cardWrapper.LEFT {
    justify-content: flex-start;
  }

  .cardWrapper.RIGHT {
    justify-content: flex-end;
  }
}
/* Clear */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
