.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.animal {
  background-color: #FFF1DB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
  font-family: Sans-Serif;
  position: relative;
  flex-direction: column;
}

.ballotBox {
  flex-basis: 200px;
  flex-grow: 0;
  order: 3;
  background-color: #FDDCB0;
  z-index: 2;
  flex-shrink: 0;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  text-shadow: 0px .5vw #000000;
  letter-spacing: 1px;
  background-color: #DA3232;
  order: 1;
  flex-grow: 0;
  z-index: 3;
  flex-shrink: 0;
}

.ballot {
  height: 100%;
  width: 100%;
}

.ballotViewer {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ballot.incomingballot {
  display: flex;
}

.ballot {
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ballot.outgoingballot {
  width: 100%;
  height: 0;
  z-index: 1;
}

.incomingleft {
  order: 1;
}

.incomingright {
  order: 2;
}

/* display: flex;
flex-grow: 1;
flex-direction: row;
justify-content: space-around; */
.hiddenballot {
  display: none;
}

.burst {
  opacity: 0.2;
  width: 50vw;
  top: 20vh;
  left: 27vw;
  position: absolute;
}

.header-text {
  color: #FFD083;
  font-size: 6vw;
  margin-left: 5vw;
  font-family: 'Alfa Slab One', cursive;
}

.animalName {
  font-family: 'Cabin';
  font-size: 4vw;
  order: 2;
  flex-grow: 1;
  height: 20%;
}

.hidden {
  color: red;
  width: 0px;
  height: 0px;
  display: none;
}

.incoming {
  color: blue;
}

.photo {
  flex-grow: 4;
  order: 1;
  height: 80%;
}

.outgoing {
  color: magenta;
  z-index: -1;
}

body {
  background: #FFE4B8 !important;
}

.vs {
  transform: translate(48vw, 16vw)
}

/* From design */

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.card {
  background: gold;
  width: 43vw;
  height: 43vw;
  display: flex;
  flex-direction: column;
}

.photo {
  flex-grow: 4;
  order: 1;
  height: 80%;
}

.caption {
  flex-grow: 1;
  order: 2;
  height: 20%;
}

.animal_x {
  background-color: pink;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vs {
  order: 2;
  background-color: blue;
  flex-grow: 1;
}

.one {
  order: 1;
}

.two {
  order: 3;
}

.outerCardWrapper {
  background-color: pink;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerCardWrapper.LEFT {
  order: 1;
}

.outerCardWrapper.RIGHT {
  order: 2;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}


@media (max-aspect-ratio: 5/14) {

  .ballot {
    justify-content: space-between;
    flex-direction: column;
  }

  .card {
    width: 100vw;
    height: 100vw;
  }

  .animal {
    width: 100vw;
    height: 100vw;
  }

  .cardWrapper.LEFT {
    justify-content: center;
  }

  .cardWrapper.RIGHT {
    justify-content: center;
  }
}

@media (min-aspect-ratio: 5/14) and (max-aspect-ratio: 12/14) {
  .ballot {
    justify-content: space-between;
    flex-direction: column;
  }

  .animal {
    justify-content: center;
    flex-direction: column;
    width: 30vh;
    height: 30vh;
  }

  .cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
  }

  .card {
    background: gold;
    width: 43vw;
    height: 43vw;
    padding: 0;
    order: 1;
  }

  .animal {
    color: brown;
  }

  .vs {
    flex-grow: 0;
  }
}

@media (min-aspect-ratio: 12/14) and (max-aspect-ratio: 7/5) {
  .ballot.incomingballot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardWrapper.LEFT {
    justify-content: flex-start;
  }

  .cardWrapper.RIGHT {
    justify-content: flex-end;
  }

  .animal {
    width: 45vw;
    height: 45vw;
  }
}




@media (min-aspect-ratio: 7/5) {

  .animal {
    width: 55vh;
    height: 55vh;
  }


}

/* Clear */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
